<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <ul class="icons">
            <li>
                <a href="{{ site.data.social.twitter }}" target="_blank" class="icon">
                    <i class="fa fa-twitter"></i>
                    <span class="label">Twitter</span>
                </a>
            </li>
            <li>
                <a href="{{ site.data.social.github }}" target="_blank" class="icon">
                    <i class="fa fa-github"></i>
                    <span class="label">Github</span>
                </a>
            </li>
            <li>
                <a href="{{ site.data.social.linkedin }}" target="_blank" class="icon">
                    <i class="fa fa-linkedin"></i>
                    <span class="label">Linkedin</span>
                </a>
            </li>
            <li>
                <a href="{{ site.data.social.email }}" class="icon">
                    <i class="fa fa-envelope-o"></i>
                    <span class="label">Email</span>
                </a>
            </li>
        </ul>
        <ul class="copyright">
            <li>&copy; {{ site.data.owner.fullname }}</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
</footer>
